@page "/books/createbook"

@inject IBookService BookService
@inject NavigationManager NavigationManager

<h3>Create Book</h3>

@if (message != null)
{
    <p><em>@message</em></p>
}
else
{
    <BookForm book="Book" OnValidSubmit="HandleValidSubmit"></BookForm>
}

@code {
    private Book Book = new Book();
    private string? message = null;

    async Task HandleValidSubmit()
    {
        var response = await BookService.CreateBookAsync(Book);
        if (response.Success)
            NavigationManager.NavigateTo("/books/booksList");
        else
            message = response.Message;
    }


}
