<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Book List</title>
    <!-- Add Bootstrap CSS (local or CDN) -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-4">
    <h2>Book List</h2>

    <div class="d-flex justify-content-between align-items-center mb-3">
        <form th:action="@{/books}" method="get">
            <label for="pageSize">Page Size:</label>
            <input type="number" id="pageSize" name="size" th:value="${pageSize}" min="1" required>
            <button type="submit">Submit</button>
        </form>

        <a class="btn btn-success" th:href="@{'/books/create-edit/' + ${0}}">Create New</a>
    </div>

    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="book : ${books}">
            <td th:text="${book.title}"></td>
            <td th:text="${book.author}"></td>
            <td th:text="${book.description}"></td>
            <td>
                <a class="btn btn-primary btn-sm" th:href="@{'/books/create-edit/' + ${book.id} +
                 '?title=' + ${book.title} + '&author=' + ${book.author} + '&description='
                  + ${book.description}}">Edit</a>
                <form th:action="@{'/books/' + ${book.id}}" th:method="delete">
                    <button class="btn btn-danger btn-sm" type="submit">Delete</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>

    <div class="d-flex justify-content-end mt-3" th:if="${currentPage != 0}">
        <div class="btn-group mt-3 ml-auto" role="group">
            <a type="button" class="btn btn-secondary" th:unless="${currentPage == 1}" th:href="@{'/books?page=1&size=' + ${pageSize}}">First</a>
            <a type="button" class="btn btn-secondary" th:unless="${currentPage == 1}" th:href="@{'/books?page=' + ${currentPage - 1} + '&size=' + ${pageSize}}">&lt;</a>
            <a type="button" class="btn btn-secondary" th:text="${currentPage}"></a>
            <a type="button" class="btn btn-secondary" th:unless="${currentPage == totalPages}" th:href="@{'/books?page=' + ${currentPage + 1} + '&size=' + ${pageSize}}">&gt;</a>
            <a type="button" class="btn btn-secondary" th:unless="${currentPage == totalPages}" th:href="@{'/books?page=' + ${totalPages} + '&size=' + ${pageSize}}">Last</a>
        </div>
    </div>

</div>

<!-- Add Bootstrap JS (local or CDN) -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
